.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageHeader {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/cart-page-header-img.jpg");
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: -90px;
  background-size: cover;
}

.pageHeader h1 {
  padding: 50px;
  text-align: center;
  color: #fff; /* Your desired text color */
  font-size: 2.5rem; /* Your desired font size */
}

@media (min-width: 992px) {
  .pageHeader {
    margin-top: 100px !important;
  }
}

@media (max-width: 992px) {
  .pageHeader {
    margin-top: 97px !important;
  }
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container .main .img {
  width: 580px;
  max-width: 100%;
  height: auto;
  padding: 0 10px;
}

.allText {
  color: black;
  width: 600px;
  max-width: 100%;
  padding: 0 10px;
}

.main {
  width: 1290px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.allText h4 {
  font-size: 18px;
  color: #777777;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 10px;
}

.allText h1 {
  font-size: 65px;
  color: #111111;
  font-weight: 700;
  margin-bottom: 20px;
}

.allText p {
  font-size: 16px;
  color: #777777;
  line-height: 30px;
  margin-bottom: 35px;
}

.btn .button {
  background: white;
  padding: 20px 32px;
  font-size: 16px;
  font-weight: bold;
  color: #111111;
  border: none;
  outline: none;

  box-shadow: 0px 16px 32px 0px rgb(0, 0, 0, 6%);
  margin-right: 20px;
}

.btn .button:hover {
  background-color: #1d44f9;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.btn .button2 {
  background-color: #111111;
  color: white;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.flip {
  transform: rotate(180deg);
}

@media screen and (max-width: 1250px) {
  .container {
    width: 100%;
    height: auto;
    padding: 60px 0;
  }
  .allText {
    text-align: center;
  }
}

@media screen and (max-width: 1250px) {
  .container .main img {
    margin-bottom: 35px;
  }
  .allText {
    font-size: 45px;
    margin-bottom: 20px;
  }
}

.parallax {
  margin: 20 0;
  overflow: hidden;
}

.parallaxImg {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.content {
  height: 40vh;
  width: 100%;
  margin-bottom: 20px;
}

.textContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 50px;
}

.contentIntro {
  background-color: white; /* Sets the background color to white */
  padding-top: 77px; /* Sets the top padding to 77 pixels */
  padding-bottom: 133px; /* Sets the bottom padding to 133 pixels */
}

.contain {
  max-width: 1200px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  background-color: rgb(243, 86, 7);
  margin-left: -15px;
}

.column {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding-top: 30px;
  background-color: #777777;
}

.imageWrapper {
  border-radius: 10px; /* Applies a border radius of 10 pixels */
  overflow: hidden; /* Ensures that any content exceeding the border radius is hidden */
  position: relative;
  background-color: rgb(75, 213, 29);
  transition: transform 0.3s ease;
}

.imageWrapper .img:hover {
  transform: scale(1.1);
}

.wrapText {
  padding-top: 35px;
}

.texts {
  font-size: 1.375rem; /* Adjust the font size as needed */
  line-height: 1.5; /* Adjust the line height as needed */
  font-weight: bold; /* Adjust the font weight as needed */
  color: #000;
  transition: opacity 0.4s ease;
  margin-bottom: 13px;
}

.paragraph {
  margin-bottom: 20px;
}
