.container {
  margin-top: 2rem;
  position: relative;
  padding: 2rem 0;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.contain {
  width: 100%;
  background-color: #fff8f5;
}

.profile {
  height: 77vh;
  margin-left: 40px;
  padding-top: 20px;
  width: 35vw;
}

.profile h1 {
  color: #000;
  font-size: 2.3rem;
  padding: 1rem 0;
}

.address {
  margin-top: 110px;
  padding: 1rem 0;
}
.address h2 {
  color: #191923;
  font-size: 1.7rem;
}

.address p {
  color: #191923;
  width: 60%;
  font-size: 1rem;
  padding-top: 0.5rem;
}
@media (max-width: 650px) {
  .profile {
    width: 100%;
  }
}

.links h2 {
  color: #191923;
  font-size: 1.7rem;
  padding-top: 10px;
  margin-bottom: 0.5rem;
}
.linkIcon {
  color: #000;
}

.links div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.links a {
  font-size: 1rem;
  color: #000;
}
.links a {
  text-decoration: none;
  color: rgb(62, 59, 59);
}

.links a:hover {
  color: orange;
}

/*Envelope*/

.formWrap {
  flex: 1;
  overflow: hidden;
  height: 447px;
  background-color: aliceblue;
  margin-left: 5%;
  position: relative;
  top: 0px;
  transition: all 1s ease-in-out 0.3s;
}

.formWrap:before {
  content: "";
  position: absolute;
  bottom: 128px;
  left: 0px;
  background: url("https://i.imgur.com/x7PdObG.png");
  background-size: cover;
  width: 590px;
  height: 320px;
}

.formWrap:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  background: url("https://i.imgur.com/lfI33tF.png");
  background-size: cover;
  width: 590px;
  height: 259px;
}

.formWrap.hide:after,
.formWrap.hide:before {
  display: none;
}

.formWrap:hover {
  height: 777px;
  top: -200px;
}

.formWrap form {
  background: white;
  position: relative;
  top: 200px;
  overflow: hidden;
  height: 200px;
  width: 550px;
  margin-left: 20px;
  border: 1px solid white;
  border-right: 3px;
  transition: all 1s ease-in-out 0.3s;
}

.formWrap:hover form {
  height: 530px;
}

.formWrap label {
  margin: 11px 20px 10px 13px;
  margin-bottom: 20px;
  font-size: 15px;
  color: gray;

  text-transform: uppercase;
}

.formWrap input[type="text"],
.formWrap textarea {
  font: 14px normal uppercase, arial, serif;
  color: dimgray;
  background: none;
  width: 520px;
  height: 37px;
  padding: 0px 10px;
  margin: 10px 0 10px 13px;
  border: 1px solid #f8f5f1;
  border-radius: 5px;
}

.formWrap textarea {
  height: 80px;
  padding-top: 14px;
}

.formWrap textarea:focus,
.formWrap input[type="text"]:focus {
  background: white;
}

.formWrap input[type="submit"] {
  position: relative;
  font-family: tahoma;
  font-size: 24px;
  color: gray;
  width: 90%;
  margin-left: 25px;
  text-align: center;
  opacity: 0;
  background: none;
  cursor: pointer;
  border-radius: 3px;
  transition: opacity 0.7s ease-in-out 0s;
}

.formWrap:hover input[type="submit"] {
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease-in-out 1.3s;
}

@media (max-width: 840px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1190px) {
  .container {
    flex-direction: column;
    gap: 3rem;
    height: 1010px;
  }
}
